.filter-container{
    background-color: yellow;
    height: 100px;
    width: 100%;
    display: block;
}

.filter-container-row{
    height: 50px;
    width: 100%;
    display: flex;
    margin-left: 10px;
    margin-right: auto;
}