.label-input-container{
    margin: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
    p{
        margin: 10px;
        font-size: 20px;
        input{
            margin-left: 10px;
            width: 250px;
            height: 25px;
        }
    }
}