.movie-detail-main-container{
    margin: 0px;
    padding: 0px;
    padding-bottom: 50px;
    background-color: #e9ecef;
    button{
        width: 82%;
        height: 40px;
        border-radius: 5px;
        background-color: #304fff;
        color: whitesmoke;
        font-size: 15px;
        margin-top: 40px;
        margin-left: 175px;
        margin-bottom: 50px;
    }
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 82%;
        margin-left: 175px;
        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        tr:nth-child(even) {
            background-color: #dddddd;
        }
    }
    .movie-detail-container{
        display: flex;
        .left-main{
            width: 35%;
            img{
                height: 400px;
                width: 250px;
                display: block;
                margin-right: 20px;
                margin-left: auto;
                margin-top: 50px;
            }
        }
        .right-main{
            width: 65%;
            padding-right: 80px;
            .movie-title{
                margin: 0px;
                padding: 0px;
                font-size: 40px;
            }
            .movie-overview-heading{
                margin: 0px;
                padding: 0px;
                margin-top: 5px;
                font-size: 25px;
            }
            .movie-time-row{
                display: flex;
                margin-bottom: 5px;
                p{
                    margin: 0px;
                    padding: 5px;
                }
                .movie-detail-attr-main{
                    display: flex;
                }
                .movie-detail-attr-name{
                    background-color: #c6c8ca;
                    font-weight: bold;
                    padding: 5px;
                }
                .movie-detail-attr-value{
                    
                    padding-left: 0px;
                    padding-top: 3px;
                    background-color: white;
                    border: solid;
                    border-width: thin;
                    border-color: #e1e2e3;
                }

                
            }
        }
    }
}